flask==2.3.0
flask-cors==4.0.0
flask-socketio==5.3.0
requests==2.31.0
python-socketio==5.9.0
flask_limiter
python-dotenv

sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0

#google
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib 
pytz


openai-whisper